nav {
    display: flex;
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    color: #FFFFFF;
    padding: 1.5em;
    align-self: center;
    justify-content: space-between;
    flex-grow: 2;
    position: fixed;
    top: 0px;
}

.logo {
   
    font-size: 1.75em;
    font-family: 'Bungee', sans-serif;
    flex: 2;
    
}
.write-tweet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around ;
    flex: 3;
}

.write-new-tweet {
    font-family: sans-serif;
    align-content: flex-start;
}
.i {
    display: flex;
   justify-content: center;
}

@media only screen and (min-width: 1024px)  {


}